@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
	background-color: #DAAE26;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}


/*table, th, td {
	border: 1px solid #080E11;
	border-collapse: collapse;
}*/

/*div {
	background-color: #FAFAFA;
}*/

.PageBar {
	background-color: #DAAE26;
	color: #BEC8CD;
	/*	padding: 2px;*/
	padding: 0.5em;
	height: 1.2em;
}

.PageLink {
	color: #252C2F;
	text-decoration: none;
	padding: 0.2em 1em;
}

.HeaderContainer {
	background-color: #ECE9DD;
	padding: 50px;
	height: 200px;
}

.HeaderTitle {
	font-size: 38;
	color: #02020A;
}

.HeaderImage {
	width: 144px;
	height: 144px;
	float: left;
}

.HeaderSubtitle {
	font-family: 'Quicksand', sans-serif;
	font-size: 24;
	color: #02020A;
}

.HeaderText {
	margin-left: 50px;
	float: left;
	font-family: 'Quicksand', sans-serif;
}

.SmallHeaderContainer {
	background-color: #DDEBF1;
	padding: 5px;
	height: 20px;
}	

.SmallHeaderText {
	margin-left: 50px;
	float: left;
	font-family: 'Quicksand', sans-serif;
	font-size: 3.8;
}

.SmallHeaderSubtitle {
	font-family: 'Quicksand', sans-serif;
	font-size: 2.4;
	color: #02020A;	
}

.SmallHeaderImage {
	width: 19.5px;
	height: 19.5px;
	float: left;
}

.SmallHeaderTitle {
	font-family: 'Quicksand', sans-serif;
	font-size: 3.8;
	color: #DDEBF1;	
}
